@model Gumruk.Entity.users

@using Gumruk.Web.Models

<br />
<div class="container ">
    <h4>Change Password</h4>
    <br />
    <div class="pageGroup padding-left40">
        <div class="row">
            @Html.Password4S("PasswordNow", "Mevcut Şifre", "true", "false", 4, placeholder: "Mevcut Şifrenizi Giriniz")
        </div>
        <div class="row">
            @Html.Password4S("PasswordNew", "Yeni Şifre", "true", "false", 4, placeholder: "Yeni Şifre Giriniz")
        </div>
        <div class="row">
            @Html.Password4S("PasswordNewRepeat", "Şifre Tekrar", "true", "false", 4, placeholder: "Yeni Şifreyi tekrar Giriniz")
            <span style="color:#ff0000;font-weight:bold;display:none;" id="message"></span>
        </div>
        <div class="row" style="margin-right:15px;">
            <a href="javascript:void(0)" onclick="ChangePassword()" class="btn btn-primary col-lg-12 col-md-12 col-sm-12" style="padding-right:40px;" id="btnChange">Change Password</a>
        </div>
        <div class="row alert alert-success" id="success" style="display:none;margin-right:15px;">

        </div>
    </div>
</div>

<script>
    $("#PasswordNewRepeat").keyup(function () {
        var pass1 = $("#PasswordNew").val();
        var pass2 = $("#PasswordNewRepeat").val();

        console.log(pass1);
        console.log(pass2);

        if (pass1 != pass2) {
            $("#message").text("Tekrar girilen şifre ilk şifre ile eşleşmiyor.");
            $("#message").show();
            $("#btnChange").hide();
        }
        else {
            $("#message").text("");
            $("#message").hide();
            $("#btnChange").show();
        }

    });

    $("#PasswordNow").keyup(function () {
        var passCurrent = $("#PasswordNow").val();

        if (passCurrent != ('@Model.password')) {
            $("#message").text("Şu anki şifreniz yanlış.");
            $("#message").show();
            $("#btnChange").hide();
            return;
        }
        else
        {
            $("#message").hide();
            $("#btnChange").show();
        }

    });


    function ChangePassword() {
        var passCurrent = $('#PasswordNow').val();
        var pass1 = $("#PasswordNew").val();

        if(pass1=="")
        {
            $("#message").text("Şifre giriniz.");
            $("#message").show();

            return;
        }
        $.ajax({
            url: '@Url.Action("ChangePass", "Home")',
            type: "POST",
            cache: false,
            async: false,
            data: { pass: pass1},
            success: function (text, data) {
                $("#success").text("Şifre başarılı bir şekilde değiştirilmiştir. Yeni şifreniz bir sonraki girişinizde aktif olacaktır");
                $("#success").show();
                $("#btnChange").hide();
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });

    }



</script>
